/*General style*/
body {
    font-family: 'Abel', sans-serif;
}
h1 {
    font-family: 'Abel', sans-serif;
}

/*Main menu style*/
#main-menu {
    background-color:  #EEDEFDbf;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
}

#main-menu ul {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 4;
}

#main-menu li {
    list-style: none;
}

#main-menu a {
    display: block;
    padding: 25px 20px;
    color: black;
    text-decoration: none;
}

#main-menu li:hover {
    background-color: white;
}

#main-menu #current-page {
/*    background-color: grey;*/
    text-decoration: underline;
}

/*Game grid display*/
.game-container {
    margin: 50px auto;
    background-color: lightgrey;
    padding: 0px 10px;
    max-width: 50%;
    min-width: 700px;
    top: 50%
    left: 50%
}

.game-display {
    margin: 150px 20px 10px 20px;
    padding: 10px 20px;
    top: 50%;
    left: 50%;
    justify-content: space-evenly;
}

.game-display ul {
    display: flex;
/*    flex-direction: row;*/
    margin: 0px auto;
    padding: 0px 0px;
    justify-content: center;
}

.game-display li {
    list-style: none;
    background-color: #EEDEFDbf;
    padding: 0px 0px;
    border: solid;
    border-color: #DED6E5;
    margin: 0px 0px;
}

.game-instructions {
    margin: 20px 20px;
    background-color: lightgrey;
    padding: 10px 20px;
}

.blank-cell {
    background-color: #ededed;
    padding: 20px 20px;
    color: #B4AABD;
    border: none;
    transition-duration: 0.4s;
}

.start-cell {
    background-color: #61c918;
    border-radius: 50%;
    padding: 20px 20px;
    color: #B4AABD;
    border: none;
    transition-duration: 0.4s;
}
.start-cell:hover{
    background-color: #5ABE51;
    padding: 20px 20px;
    color: #B4AABD;
    border: none;
    transition-duration: 0.4s;
}

.blank-cell:hover {
    background-color: grey;
    color: white;
}

.finish-cell {
    background-color: #c91818;
    border-radius: 50%;
    padding: 20px 20px;
    color: #B4AABD;
    border: none;
    transition-duration: 0.4s;
}

.finish-cell:hover{
    background-color: darkred;
    padding: 20px 20px;
    color: #B4AABD;
    border: none;
    transition-duration: 0.4s;
}

#cell {
    color: #B4AABD;
    padding: 10px 10px;
}

.o1-cell {
    color: black;
    background-color: #ee946d; /*pastel orange*/
    padding: 20px 20px;
    border: none;
}

.o2-cell {
    color: black;
    background-color: #6dc5ee; /*pastel blue*/
    padding: 20px 20px;
    border: none;
}

.o3-cell {
    color: black;
    background-color: #ee6d89; /*pastel pink*/
    padding: 20px 20px;
    border: none;
}

.o4-cell {
    color: black;
    background-color: #b46dee; /*pastel purple*/
    padding: 20px 20px;
    border: none;
}
